<h2>Create a New User</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>
    
    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>

    <label>
        Age:
        <input type="number" formControlName="age">
    </label>

    <div formGroupName="address">
        <h3>Address</h3>
        
        <label>
            Street:
            <input type="text" formControlName="street">
        </label>
        
        <label>
            City:
            <input type="text" formControlName="city">
        </label>
        
        <label>
            State:
            <select formControlName="state">
                <option>Select a state...</option>
                <option *ngFor="let state of statesArray">{{state.abbreviation}}</option>
            </select>
        </label>
        
        <label>
            Zip Code:
            <input type="text" formControlName="zip">
        </label>
    </div>

    <div formGroupName="contactInfo">
        <h3>Contact Information</h3>

        <label>
            Phone:
            <input type="tel" formControlName="phone">
        </label>

        <label>
            Email:
            <input type="email" formControlName="email">
        </label>
    </div>

    <div formGroupName="employHistory">
        <h3>Employment History</h3>

        <label>
            Employer:
            <input type="text" formControlName="employer">
        </label>

        <label>
            Manager Name:
            <input type="text" formControlName="manager">
        </label>

        <label>
            Start Date:
            <input type="date" formControlName="startDate">
        </label>

        <label>
            End Date:
            <input type="date" formControlName="endDate">
        </label>

        <label>
            Is this your current job?
            Yes
            <input id="current-job" type="radio" value="true">
            No
            <input id="current-job" type="radio" value="false">
        </label>
    </div>

    <button type="submit" >Create</button>
</form>