<h2>Create a New User</h2>

<form [formGroup]="userForm" #formDir="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="firstName">
            First Name:
            <input type="text" id="firstName" formControlName="firstName" 
            class="form-control" required >
        </label>

    </div>


    
    <label>
        Last Name:
        <input type="text" formControlName="lastName" required>
    </label>

    <label>
        Age:
        <input type="number" formControlName="age" required>
    </label>

    <div formGroupName="address">
        <h3>Address</h3>
        
        <label>
            Street:
            <input type="text" formControlName="street" required>
        </label>
        
        <label>
            City:
            <input type="text" formControlName="city" required>
        </label>
        
        <label>
            State:
            <select formControlName="state" required>
                <option>Select a state...</option>
                <option *ngFor="let state of statesArray">{{state.abbreviation}}</option>
            </select>
        </label>
        
        <label>
            Zip Code:
            <input type="text" formControlName="zip" required>
        </label>
    </div>

    <div formGroupName="contactInfo">
        <h3>Contact Information</h3>

        <label>
            Phone:
            <input type="tel" formControlName="phone" required>
        </label>

        <label>
            Email:
            <input type="email" formControlName="email" required>
        </label>
    </div>

    <div formGroupName="employHistory">
        <h3>Employment History</h3>

        <label>
            Employer:
            <input type="text" formControlName="employer">
        </label>

        <label>
            Manager Name:
            <input type="text" formControlName="manager">
        </label>

        <label>
            Start Date:
            <input type="date" formControlName="startDate">
        </label>

        <label>
            End Date:
            <input type="date" formControlName="endDate">
        </label>

        <label>
            Is this your current job?
            Yes
            <input id="current-job" type="radio" value="Yes">
            No
            <input id="current-job" type="radio" value="No">
        </label>
    </div>

    <button type="submit" [disabled]="userForm.invalid">Create</button>
</form>