.modal-wrapper {
    display: none;
}

.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 900;
    background-color: #000;
    opacity: 0.2;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
}

.modal-body {
    margin: 60px;
    // padding: 20px;
    background: #fff;
    h3 {
        background: purple;
        padding: 10px;
    }
}