<div class="modal-wrapper" id="modal-{{user.id}}">
    <div class="modal">
        <div class="modal-body">
            <h3>{{user.firstName}} {{user.lastName}}, Age: {{user.age}}
                <button id="x" (click)="closeDetails(user.id, $event)">X</button>
            </h3>
            <button *ngIf="!isEditing" (click)="isEditing = !isEditing">Edit</button>
            <button *ngIf="isEditing">Save Changes</button>
            <button *ngIf="isEditing" (click)="isEditing = !isEditing">Cancel</button>
            <div *ngIf="!isEditing">
                <div class="flex-container">
                    <div class="contact">
                        <h4>Contact Information</h4>
                        <p><strong>Phone:</strong> {{user.phone | mask: '(000) 000-0000'}}</p>
                        <p><strong>Email:</strong> {{user.email}}</p>
                    </div>
                    <div class="address">
                        <h4>Address</h4>
                        <p>{{user.address.street}}</p>
                        <p>{{user.address.city}}, {{user.address.state}} {{user.address.zip}}</p>
                    </div>    
                </div>
                <h4>Employment History</h4>
                <div class="flex-container-vert" >
                    <div class="employHistory" *ngFor="let history of user.employHistory">
                        <p><strong>Company:</strong> {{history.employer}}</p>
                        <p><strong>Supervisor:</strong> {{history.manager}}</p>
                        <p>{{dateFormat(history.startDate)}} - {{dateFormat(history.endDate)}}</p>
                    </div>
                </div>
            </div>

            <div *ngIf="isEditing">
                <form id="edit-form">
                    <div class="flex-container">

                        <div class="contact">
                            <h4>Contact Information</h4>
                            <p><strong>Phone:</strong><input type="tel" mask="(000) 000-0000"></p>
                            <p><strong>Email:</strong><input type="email"></p>
                        </div>
                        <div class="address">
                            <h4>Address</h4>
                            <p>{{user.address.street}}</p>
                            <p>{{user.address.city}}, {{user.address.state}} {{user.address.zip}}</p>
                        </div>    
                    </div>
                    <h4>Employment History</h4>
                    <div class="flex-container-vert" >
                        <div class="employHistory" *ngFor="let history of user.employHistory">
                            <p><strong>Company:</strong> {{history.employer}}</p>
                            <p><strong>Supervisor:</strong> {{history.manager}}</p>
                            <p>{{dateFormat(history.startDate)}} - {{dateFormat(history.endDate)}}</p>
                        </div>
                    </div>
            </form>
            </div>
            <button id="delete" (click)="this.userService.removeUser(user.id)">Delete User</button> 
        </div>
    </div>
    <div class="modal-bg"></div>
</div>