@import '../app.component.scss';

.modal-wrapper {
    display: none;
}

.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 900;
    background-color: #000;
    opacity: 0.5;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
}

.modal-body {
    margin: 4em 20em;
    background: #fff;
    border-radius: 10px;
    h3 {
        background: $soc-yellow;
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }
}

#x {
    float: right;
    border: none;
    width: 5%;
    background-color: red;
    transition: 0.2s;
    color: white;
    padding: 3px;
    border-radius: 10px;
    outline: none;
    &:hover {
        background: darkred;
        cursor: pointer;
    }
}

.flex-container {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    div {
        margin: 10px;
        h4 {
            margin-top: 10px;
            border-bottom: 1px solid black;
        }
        p {
            margin-top: 10px;
        }
    }
}

#delete {
    margin-bottom: 8px;
    background-color: red;
    color: white;
    padding: 6px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
    &:hover {
        background: darkred;
        cursor: pointer;
    }
}