<div class="modal-wrapper" id="modal-{{user.id}}">
    <div class="modal">
        <div class="modal-body">
            <h3>{{user.firstName}} {{user.lastName}}, Age: {{user.age}}
                <button id="x" (click)="closeDetails(user.id, $event)">X</button>
            </h3>
            <div class="flex-container">
                <div class="contact">
                    <h4>Contact Information</h4>
                    <p>Phone: {{user.phone}}</p>
                    <p>Email: {{user.email}}</p>
                </div>
                <div class="address">
                    <h4>Address</h4>
                    <p>{{user.address.street}}</p>
                    <p>{{user.address.city}}, {{user.address.state}} {{user.address.zip}}</p>
                </div>    
            </div>
            <!-- <div class="flex-container" *ngIf="(user.employHistory.manager !== '')">
                <div class="employHistory">
                    <h4>Employment History</h4>
                    <p><strong>Company:</strong> {{user.employHistory.employer}}</p>
                    <p><strong>Supervisor:</strong> {{user.employHistory.manager}}</p>
                </div>
            </div> -->
            <h4>Employment History</h4>
            <div class="flex-container-vert" >
                <div class="employHistory" *ngFor="let history of user.employHistory">
                    <p><strong>Company:</strong> {{history.employer}}</p>
                    <p><strong>Supervisor:</strong> {{history.manager}}</p>
                    <p>{{history.startDate}} - {{history.endDate}}</p>
                </div>
            </div>
            <div class="flex-container" *ngIf="(user.employHistory.manager === '')">
                <h4>This user has no recorded employment history</h4>
            </div>
            <button id="delete" (click)="this.userService.removeUser(user.id)">Delete User</button> 
        </div>
    </div>
    <div class="modal-bg"></div>
</div>