<div class="modal-wrapper" id="modal-{{user.id}}">
    <div class="modal">
        <div class="modal-body">
            <h3>{{user.firstName}} {{user.lastName}}, Age: {{user.age}}
                <button id="x" (click)="closeDetails(user.id, $event)">X</button>
            </h3>
            <button *ngIf="!isEditing" class="edit" (click)="toggleEdit()">Edit</button>

            <button *ngIf="isEditing" class="edit" [disabled]="editForm.invalid" form="edit-form" type="submit">Save Changes</button>
            <button *ngIf="isEditing" class="delete" (click)="toggleEdit()">Cancel</button>

            <div *ngIf="!isEditing">
                <div class="flex-container">
                    <div class="contact">
                        <h4>Contact Information</h4>
                        <p>{{user.phone | mask: '(000) 000-0000'}}</p>
                        <p>{{user.email}}</p>
                    </div>
                    <div class="address">
                        <h4>Address</h4>
                        <p>{{user.address.street}}</p>
                        <p>{{user.address.city}}, {{user.address.state}} {{user.address.zip}}</p>
                    </div>    
                </div>
                <h4>Employment History</h4>
                <div class="flex-container-vert" >
                    <div class="employHistory" *ngFor="let history of user.employHistory">
                        <p><strong>Company:</strong> {{history.employer}}</p>
                        <p><strong>Supervisor:</strong> {{history.manager}}</p>
                        <p>{{dateFormat(history.startDate)}} - {{dateFormat(history.endDate)}}</p>
                    </div>
                </div>
            </div>

            <div *ngIf="isEditing">
                <form id="edit-form" [formGroup]="editForm" (ngSubmit)="onSubmit(user.id)">
                    <div class="flex-container">
                        <div class="contact">
                            <h4>Contact Information</h4>
                            <div class="form-group">
                                <label>Phone</label>
                                <input formControlName="phone" placeholder="{{user.phone | mask: '(000) 000-0000'}}" type="tel" mask="(000) 000-0000">
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input formControlName="email" placeholder="{{user.email}}" type="email">
                            </div>
                        </div>
                        <div class="address" formGroupName="address">
                            <h4>Address</h4>
                            <div class="form-group">
                                <label>Street</label>
                                <input type="text" placeholder="{{user.address.street}}" formControlName="street" required>
                            </div>
                               
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" placeholder="{{user.address.city}}" formControlName="city" required>
                            </div>

                            <div class="form-group">
                                <label>State</label>
                                <select formControlName="state" required>
                                    <option>Select a state...</option>
                                    <option *ngFor="let state of statesArray">{{state.abbreviation}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Zip Code</label>
                                <input type="text" placeholder="{{user.address.zip}}" formControlName="zip" required>
                            </div>
                        </div>    
                    </div>
                    <h4>Employment History</h4>
                    <div class="flex-container-vert" >
                        <div formArrayName="employHistory" *ngFor="let _ of employHistory.controls; index as i">
                            <div class="fieldset" [formGroupName]="i">
                                <div class="form-group">
                                    <label>Employer:</label>
                                    <input type="text" formControlName="employer">
                                </div>
                                <div class="form-group">
                                    <label>Manager:</label>
                                    <input type="text" formControlName="manager">
                                </div>
                                <div class="form-group">
                                    <label>Start Date:</label>
                                    <input type="date" formControlName="startDate">
                                </div>
                                <div class="form-group">
                                    <label>End Date:</label>
                                    <input id="endDate" type="date" formControlName="endDate">
                                </div>
                            </div>
                        </div>

                        <div class="btn-container">
                            <a (click)="addEmployer()">Add Employer Field</a>
                        </div>

                        <div class="btn-container">
                            <a (click)="removeEmployer()">Remove Employer Field</a>
                        </div>
                    </div>
                </form>
            </div>

            <button class="delete" (click)="removeUser(user.id)">Delete User</button> 
        </div>
    </div>
    <div class="modal-bg"></div>
</div>