@import '../app.component.scss';

.message-container {
    width: 50%;
    margin-left: 25%;
    border: 1px solid $soc-purple;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    ul {
        list-style-type: none;
        li {
            text-align: center;
            padding: 10px;
        }
    }
    button {
        height: 25%;
        align-self: center;
        margin-left: 5%;
        padding: 5px;
        border-radius: 100px;
        outline: none;
        border: none;
        color: white;
        background-color: $soc-purple;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            background-color: $soc-purple3;
        }
    }
}