@import '../app.component.scss';

#users {
    text-align: center;
    width: 100%;
    border-spacing: 0 1rem;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#users td, #users th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even){
    background-color: $soc-blue3;
}

#users tr:nth-child(odd){
    background-color: $soc-blue2;
}

#users tr:hover {
    background-color: $soc-blue4;
    transition: 0.2s;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: $soc-blue;
    color: white;
}

label {
    margin: 10px;
}

#search-text {
    border-radius: 50px;
    border: none;
    background: lightgrey;
    padding: 6px 6px 6px 10px;
    margin: 10px;
    outline: none;
    transition: 0.2s;
    &:focus {
        background-color: #ddd;
    }
}